<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image-tamazawa.png') }}"> 
    <title>YouTube Video Downloader</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>YouTube Video Downloader</h1>
    <p>下の入力欄にYouTubeでダウンロードしたい動画のURLを入力</p>
    <input type="text" id="videoUrl" placeholder="Enter YouTube URL">
    <button onclick="downloadVideo()">Download</button>
    <div id="downloadStatus"></div>
    <img id="thumbnail" src="{{ url_for('static', filename='image-sotoyama.jpg') }}" alt="Thumbnail">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>